@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --breakpoint-xs1: 30rem;
  --breakpoint-xs: 40rem;
  --breakpoint-sm1: 70rem;
  --breakpoint-sm2: 56rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #4361ee;
  --color-secondary: #e74694;
  --color-accent: #10b981;
  --color-background: #f0f4f8;
  --color-text: #1e293b;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.btn-primary {
  @apply bg-[#4361EE] text-white font-medium py-2 px-6 rounded-md hover:bg-[#3651d1] transition-colors;
}

.btn-outline {
  @apply border border-gray-300 text-gray-700 font-medium py-2 px-6 rounded-md hover:bg-gray-100 transition-colors;
}

.card {
  @apply bg-white rounded-lg shadow-sm p-6;
}

.section-title {
  @apply text-3xl font-bold mb-2;
}

.section-subtitle {
  @apply text-lg text-gray-600 mb-8;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
